<aside class="sidebar">
    <div class="logo-sidebar">
        <img src="assets/img/logo.jpg" alt="V">
        <span>VERDURÃO</span>
    </div>
    <nav>
        <a href="dashboard.html" data-page="dashboard">
            <img src="assets/icons/dashboard.svg" class="nav-icon"> Dashboard
        </a>
        <a href="vendas.html" data-page="vendas">
            <img src="assets/icons/vendas.svg" class="nav-icon"> Vendas
        </a>
        <a href="estoque.html" data-page="estoque">
            <img src="assets/icons/estoque.svg" class="nav-icon"> Estoque
        </a>
        <a href="relatorio.html" data-page="relatorio">
            <img src="assets/icons/relatorio.svg" class="nav-icon"> Relatório
        </a>
        <a href="configuracoes.html" data-page="configuracoes">
            <img src="assets/icons/config.svg" class="nav-icon"> Configurações
        </a>
    </nav>
</aside>