<header class="topo">
    <div class="busca-container">
        <button class="btn-menu" id="menuToggle">
            <img src="assets/icons/menu.svg" alt="Menu">
        </button>
        <div class="campo-busca-wrapper">
            <img src="assets/icons/lupa.svg" alt="Buscar" class="lupa-icon">
            <input type="text" placeholder="Buscar por produtos, clientes, pedidos..." class="campo-busca">
        </div>
    </div>
    <div class="info-usuario">
        <button class="btn-notificacao">
            <img src="assets/icons/notific.svg" alt="Notificações">
        </button>
        <div class="usuario-detalhes">
            <img src="assets/img/logo.jpg" class="avatar" alt="admin">
            <div class="usuario-texto">
                <span class="nome-admin">Administrador</span>
                <span class="status-online">● Online</span>
            </div>
        </div>
        <button class="btn-seta">
            <img src="assets/icons/seta.svg" alt="Opções">
        </button>
    </div>
</header>